@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/breakpoints';

.header {
  color: $color-primary;
  position: relative;
  height: calc(100vh - 10rem);

  @media only screen and (max-width: $layout-breakpoint-small) {
    height: calc(100vh - 5rem);
  }

  @media only screen and (max-height: 700px) {
    height: 85rem;
  }

  @media only screen and (max-width: 500px) {
    height: 85rem;
  }

  &.green {
    background-color: $color-green;
  }

  &.dark {
    background-color: $black;
  }

  figure {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.7);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .contentBox {
    margin: 0 var(--side-margins-sm);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100rem;

    @include media('<=phone') {
      top: 50%;
    }

    p {
      color: $color-primary;
    }

    .cta {
      margin-top: 5rem;

      a {
        &:not(:last-child) {
          margin-right: 3rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
