// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-phone: 600px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #ececf2;

$color-primary: #ececf2;
$color-secondary: #1f2c0e;
$color-accent: #73a134;

$color-yellow: #ddb771;
$color-green: #073b3a;

$white: #fff;
$black: #1b1b1b;
