@import '/sass/abstracts/variables';
@import '/sass/abstracts/breakpoints';

.footer {
  background-color: $white;
  padding: 10rem var(--side-margins-sm) 0rem;

  .main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    @media only screen and (max-width: $layout-breakpoint-small) {
      flex-direction: column;
    }

    .logo {
      flex: 0.7;

      @media only screen and (max-width: $layout-breakpoint-small) {
        align-self: center;
        margin-bottom: 4rem;
      }

      @include media('<=tablet') {
        align-self: flex-start;
      }

      img {
        width: 12rem;
        height: auto;
      }
    }

    .menus {
      flex: 3;
      display: flex;
      justify-content: space-between;

      @include media('<=tablet') {
        flex-direction: column;
      }

      .menu {
        flex: 1;

        @include media('<=tablet') {
          margin-bottom: 5rem;
        }

        li {
          margin-bottom: 2rem;

          &:first-child {
            margin-bottom: 3rem;
          }

          a {
            font-size: 2.2rem;
            color: $color-green;
            padding: 1rem;
            display: inline-block;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }

          &:first-child {
            a {
              font-size: 2.4rem;
              font-weight: 700;
            }
          }
        }
      }

      .socials {
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            display: block;
            margin-bottom: 0 !important;

            a {
              &:hover {
                transform: scale(1.3);
              }
            }

            svg path {
              fill: $color-green;
            }
          }
        }
      }
    }
  }

  .foot {
    text-align: center;

    p {
      color: $color-green;
      font-size: 1.6rem;
      padding: 2rem 0;
      border-top: 1px solid rgba($color-secondary, 0.3);
    }
  }
}
