.testimonials {
  margin-bottom: 15rem;

  .slider {
    height: 45rem;

    .slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 4rem;

      img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-bottom: 3rem;
      }
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 6rem;
  }
}
