@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/breakpoints';

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 0.2s ease;
  transition-property: box-shadow, padding;

  &.navScrolled {
    background-color: $black;
    box-shadow: 0 10px 20px rgba($color-secondary, 0.3);
    padding: 1rem 2rem;

    .logo {
      img {
        width: 8rem;
      }
    }
  }

  .logo {
    flex: 0.8;

    img {
      height: auto;
      width: 10rem;
      transition: 0.2s ease;
      transition-property: width;
    }
  }

  .navBtn {
    display: none;
  }

  .navList {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media('<=desktop') {
      flex: 2;
    }

    .navItem {
      &.navLink {
        border-radius: 8px;
        border: 1px solid transparent;
        transition: border-color 0.2s ease, background-color 0.2s ease;

        a {
          padding: 0.7rem;
          font-family: 'PT Serif';
          font-style: normal;
          font-weight: 700;
          font-size: 2rem;
          color: $color-primary;
          display: inline-block;
        }

        &:hover {
          background-color: rgba($color-accent, 0.5);
          border-color: $color-secondary;
        }
      }
    }

    .cta {
      display: flex;
      justify-content: space-between;

      a,
      button {
        margin-right: 1rem;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .navBtn {
      display: block;
      height: 4.5rem;
      width: 6rem;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      padding: 0 !important;
      position: relative;

      span,
      span::before,
      span::after {
        content: '';
        display: block;
        height: 2px;
        width: 70%;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: transform 0.2s ease, left 0.2s ease, top 0.2s ease;
      }

      span::before {
        top: -8px;
        width: 100%;
      }

      span::after {
        width: 100%;
        top: 10px;
      }
    }

    .navList {
      position: fixed;
      top: 0;
      left: -50%;
      height: 100vh;
      min-width: 0;
      background-color: rgba($black, 0.7);
      flex-direction: column;
      background-color: $black;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 3rem;
      padding-left: var(--side-margins-sm);
      transform-origin: right;
      transition: min-width 0.5s ease, left 0.5s ease;
      overflow-y: scroll;

      li {
        margin: 3rem 0;
        a {
          font-size: 3rem;
        }
      }
    }

    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 0rem;
      background-color: rgba($black, 0.7);
      transition: width 0.5s ease, left 0.5s ease;
    }

    &.navOpen {
      .navList {
        min-width: 30rem;
        left: 0;
      }

      .backdrop {
        width: 100vw;
      }

      .logo {
        position: relative;
        // z-index: 100;
      }

      .navBtn {
        position: relative;
        z-index: 100;

        span {
          background-color: transparent;
        }

        span::before {
          top: 0px;
          left: 0;
          transform: rotate(45deg) translate(0%, 0%);
        }

        span::after {
          top: 0px;
          left: 0;
          transform: rotate(-45deg) translate(0%, 0%);
        }
      }
    }
  }
}
